*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
   height: 100%;
}



.bg1{
    width: 100%;
    height: 100%;
}

.container {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    text-align: center;
    
}

.row {
	margin-right:-15px;
    margin-left:-15px; 
}


.txt{
    position: fixed;
    bottom:50px;
    padding-left: 80px;
    font-size: 20px;
    color: aliceblue;
    opacity: 85%;
    font-family: cursive;
}

.txt1{
    position: fixed;
    bottom:50px;
    padding-left: 60px;
    font-size: 20px;
    color: aliceblue;
    opacity: 85%;
    font-family: cursive;
   
}


.txt2{
    text-decoration: none;
    color: aliceblue;
    

}

.topdet{
    margin-top: 60px;
    background-color: rgba(128, 128, 128, 0.329);
    min-height: 550px;
    min-width: auto;
    text-align: center;
}

.head2{
    padding-top: 30px;  
    padding-bottom: 20px;
}

.head3{
    text-align: center;
    padding-top: 10px;  
    padding-bottom: -10px;
    font-family: Brush Script MT;
    font-size: 50px;
}
.head4{
    text-align: center;
    font-family: Brush Script MT;
    font-size: 30px;
    color: black;
}


#topimg{
    border: 1px solid transparent;  
}

.thingstodo{
background-image: url(./img/thingstodo/sunset.jpg);
height: 600px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
background-attachment: fixed;

}



#thingimg{
    max-width: 350px;
    align-items: center;
    border: 8px solid transparent;
    font-family: Helvetica;
    

}





#but1{
    margin-top: 30px;
    margin-left: 630px;
    margin-bottom: -30px;
    background-color: rgb(66, 66, 66);
    
}

 
.social {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -15px
}

.social li {
    list-style: none;
    margin: 0 10px;
    display: inline-block
}

.social li a {
    display: block;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    color: #ffffff;
    cursor: pointer;
    line-height: 40px;
    font-size: 30px;
}

.social .yt {
    background-color: #ba2025
}

.social .ig {
    background-color: #5280a5
}

.social .fb {
    background-color: #3b5999
}

.social .tw {
    background-color: #27aae1
}

.social .gl {
    background-color: #de4b38
}

.social .wa {
    background-color: #189d0e
}
.social .pn {
    background-color: #E60023
}

.social .lk {
    background-color: #0e76a8
}


.footer {
    height: 45px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.521);
   
  }



  .loginbg{
      height: 743px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: center;
      overflow: hidden;
  }


  
  .footer1{
    margin-top: 14%;
    height: 45px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.521);
   
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}


#login-box {  
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.content{
  
  z-index: 1;
  position: absolute;
  height: 400px; 
  padding: 3%; 
  transform: translate(0%, -93%);
  height: 100%; 
  width: 100%;
  padding-top: 8%;
}



.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}




  
.bg2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  overflow: hidden;
  height: 100%;
  position: relative;

}
  
.bg3{
  background-position: center;
  background-size: cover;  
  overflow: hidden;
  min-height: 100%;
  position: relative;

}



 
 /* #bgimg{
    height: 100%;

    /* Bg-image with a gradient overaly on top 
    background: linear-gradient(#0000001c, #0d0d0e77), url("../Images/wallpaper.jpg");
    background-color: black;
    overflow: hidden;
    filter: blur(3px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

/*.topdest{
    margin-top: 20px;
  
}*/


